<h1>Minhas Viagens</h1>

  <div class="row">
    <% %>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Destino: <%=  %></h5>
            <p class="card-text">Data: <%= %></p>
            <%=  %>
          </div>
        </div>
      </div>
  </div>
