  <h1 class='text-center mt-5'>Minhas Viagens</h1>

    <div class='col-md-6 col-lg-2'>

      <div class="card border-2 shadow rounded m-3" style="width: 20rem;">

          <%= image_tag 'placeholder.jpeg'%>

          <div class="p-3">
          <h3 class='card-title'>Role cuz parsa</h3>
            <p class='card-text' style='font-size: 12px'>Destino: </p>
            <h5 class='card-title'>Fortaleza</h5>
            <p class='card-text' style='font-size: 12px'>Quando? </p>
            <p class='card-text'>Do: dia tall ao: dia tall</p>
            <p class='card-text' style='font-size: 12px'>Quando? </p>
            <p class='card-text'>Do: dia tall ao: dia tall</p>
            <p class='card-text' style='font-size: 12px'>Quando? </p>
            <p class='card-text'>Do: dia tall ao: dia tall</p>

          </div>
      </div>
    </div>
 