.banner {
  width: 100%;
  height: 330px;
  background-image: image-url('banner_welcome.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 80px;
  margin-top: 70px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 150px;

  h2 {
    text-align: center;
    width: 80%;
    font-size: 32px;
    font-weight: bold;
    padding: 16px 0px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 16px;
  }
}

.card-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  position: relative;
  margin-top: 60px;
  margin-bottom: 28px;
}

.card-center-text {
  border: 1px solid #DF7861;
  border-radius: 8px;
  padding: 60px 20px 20px 20px;
  box-shadow: 4px 4px #d5d5d5;
  h5 {
    font-weight: bold;
    text-align: center;
    padding: 12px 0;
  }
  p {
    color: grey;
    font-size: 16px;
    text-align: start;
    padding: 0;
    margin: 0;
  }
}

.img-border {
  border: 2px solid #DF7861;
}

.img-circle {
  border-radius: 50%;
  object-fit: scale-down;
  width: 100px;
  height: 100px;
}

.card-center-img {
  position: absolute;
  top: -48px;
  background-color: white;
}

.tl-name {
  font-family: "Sniglet", "Helvetica", "sans-serif";
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}

.tl-black {
  color: black;
}

.tl-grey {
  color: rgb(132, 132, 132);
}

.card-without-tl {
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.9)), asset-url('without-travellist.png');
  background-position: start;
  background-size: auto;
  border: 2px solid red;
  border-radius: 5px;
  padding: 16px 8px;
  h5 {
    text-align: center;
    font-weight: bold;
  }
  ul {
    margin: 32px 0px;
    list-style: none;
    //list-style-image: asset-url('bullet-negative.png');
  }
  li {
    margin-bottom: 8px;
    //background-size: 20px;
  }
}

.card-with-tl {
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.9)), asset-url('with-travellist.png');
  background-position-y: top;
  background-position-x: 60%;
  background-size: auto;
  border: 2px solid #94B49F;
  border-radius: 5px;
  padding: 16px 8px;
  h5 {
    text-align: center;
    font-weight: bold;
  }
  ul {
    margin: 32px 0px;
    list-style: none;
  }
  li {
    margin-bottom: 8px;
  }
}

.bold-red {
  font-weight: bold;
  color: rgb(255, 87, 87);
}

.bold-green {
  font-weight: bold;
  color: darkgreen;
}
