a {
  text-decoration: none;
}
.btn-white-round {
  color: white;
  border: 2px solid white;
  border-radius: 50%;
}

.btn-back {
  font-size: 24px;
  padding: 12px 14px;
  position: absolute;
  left: 16px;
  top: 40px;
}

.btn-new-member {
  background: transparent;
  font-size: 24px;
  padding: 6px 10px;
  position: absolute;
  right: 16px;
  top: 38px;

  &:active {
    background: transparent;
  }
}

.trip-banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), asset-url("trip-banner-placeholder.jpg");
  object-fit: cover;
  margin-bottom: 12px;
  padding: 200px 28px 20px 28px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  position: relative;
  h1 {
    text-align: center;
    margin: 0;
    font-size: 40px;
  }
}

.trip-banner-info {
  display: flex;
  gap: 8px;
  align-items: center;
  p {
    padding: 0;
    margin: 0;
    font-weight: normal;
  }
}

.trip-section {
  border: 0px;
  box-shadow: 4px 4px 8px 0px rgba($color: #9d9d9d, $alpha: 0.8);
  border-radius: 5px;
  padding: 16px 12px;
  background-color: rgb(235, 235, 235);
  position: relative;
  // background-color: #94B49F;
  h2 {
    text-align: start;
    margin-top: 8px;
    margin-bottom: 12px;
    color: black;
    font-size: 32;
    font-weight: bold;
    a {
      color: black;
      font-size: 32;
      font-weight: bold;
    }
  }
  .avatar {
    width: 24px;
    height: 24px;
  }

  .trip-section-btn-add {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 6px 12px;
    background-color: #94B49F;
    border: 1px solid #789281;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 85%;
  }

  .trip-section-empty {
    p {
      margin: 24px auto;
      color: rgb(86, 86, 86);
      font-size: 12px;
      font-weight: light;
      text-align: center;
    }
  }

  .trip-card-button {
    text-decoration: none;
    color: white;
    font-style: bold;
    display: inline-block;
    padding: 8px 12px;
    background-color: #DF7861;
    border-radius: 12px;
  }
}

.trip-tickets-card-group {
  list-style: none;
}

.trip-ticket-card {
  border-bottom: 2px dotted #0000005f;
  padding: 12px 0px;
  font-size: 12px;
  position: relative;
}

.ticket-card-location {
  display: flex;
  gap: 8px;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  i {
    font-size: 20px;
    color: rgb(135, 135, 135);
  }
}

.ticket-card-location-info {
  margin-top: 4px;
}

.ticket-card-location-name {
  text-transform: uppercase;
  margin: 0;
  color: rgb(97, 97, 97);
}

.ticket-card-location-time {
  font-size: 16px;
  font-weight: bold;
}

.ticket-card-details {
  width: 50%
}
.ticket-card-details-item {
  display: flex;
  justify-content: space-between
}
.ticket-card-price {
  font-size: 20px;
  font-weight: bold;
  color: #dd4725;
  position: absolute;
  top: 70%;
  left: 70%;
}
.ticket-card-user-info {
  position: absolute;
  top: 40%;
  left: 60%;
  display: flex;
  gap: 4px;
  p {
    padding: 0;
    margin: 0;
  }
  img {
    padding: 0;
    margin: 0;
  }
}
.ticket-card-options {
  position: absolute;
  top: 5%;
  left: 65%;
}
