<style>
  .custom-card {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px; 
  }

  .custom-card .row {
    justify-content: center; /* Isso centraliza a linha de acomodações */
  }

  .custom-card .card-body {
    width: 200px;
    height: 50px;
 }
</style>

<div class="container">
  <div class="custom-card">
    <h1 class="text-center">Minhas Acomodações</h1>
    <br>

    <h2 class="text-center">Acomodações para a Viagem: <%= link_to (@trip.name), trip_path(@trip) %></h2><br>

    <div class="row justify-content-center">
      <% @accommodations.each do |accommodation| %>
        <div class="col-md-4 mb">
          <div class="card mb-4">
            <div class="card-body">
              <strong><%= link_to accommodation.name, accommodation_path(accommodation) %></strong>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= link_to "Nova Acomodação", new_trip_accommodation_path, class: 'btn btn-primary' %>
  </div>
</div>
