<div class="container-sm">
  <div class="banner">
    <button class="button-lg">comece por aqui</button>
  </div>

 <div>
 <p>
  Tudo o que você precisa para viajar tranquilo!

O Travellist é a solução definitiva para o planejamento de viagens sem complicações.

Oferecemos uma plataforma completa para te ajudar na organização de suas viagens.

Encontre passagens, gerencie datas e horarios, organize sua mala e compartilhe com seus amigos.

Recomendações personalizadas para que você possa explorar o mundo com confiança e tranquilidade.

O Travellist é seu parceiro de viagem confiável, proporcionando uma experiência que permite desfrutar ao máximo de cada jornada. Viajar nunca foi tão fácil!
  </p>
</div>
