<div class='row'>
<h2 class='text-center mt-5'>Meus tickets</h2>

  <div class='col-md-6 col-lg-2'>

    <div class="card border-2 shadow rounded my-3" style="max-height: 100%, width: 18rem;">

        <%= image_tag 'placeholder.jpeg'%>

        <div class="p-3">
          <h5 class='card-title'>Trip 1</h5>
          <p class='card-text' style='font-size: 12px'></p>
          <p class='card-text'>Descrição</p>
        </div>
    </div>
  </div>

  <div class='col-md-6 col-lg-2'>

    <div class="card border-2 shadow rounded my-3" style="max-height: 100%, width: 18rem;">

        <%= image_tag 'placeholder.jpeg'%>

        <div class="p-3">
          <h5 class='card-title'>Trip 1</h5>
          <p class='card-text' style='font-size: 12px'></p>
          <p class='card-text'>Descrição</p>
        </div>
    </div>
  </div>

  <div class='col-md-6 col-lg-2'>

    <div class="card border-2 shadow rounded my-3" style="max-height: 100%, width: 18rem;">

        <%= image_tag 'placeholder.jpeg'%>

        <div class="p-3">
          <h5 class='card-title'>Trip 1</h5>
          <p class='card-text' style='font-size: 12px'></p>
          <p class='card-text'>Descrição</p>
        </div>
    </div>
  </div>

</div>
