<div class='row'>
<h2 class='text-center mt-5'>Passagens da minha viagem</h2>
  <% @tickets.each do |ticket| %>
  <div class='col-md-6 col-lg-3'>
    <div class="card border-2 shadow rounded my-3" style="max-height: 100%, width: 18rem;">

        <div class="d-flex flex-column p-3">
          <h5 class='card-title'><%= ticket.destination %></h5>
          <p class='card-text'><strong><%= ticket.start_time.strftime("%d/%m/%Y") %></strong></p>
        </div>
        <%= link_to ticket_path(ticket), class: 'btn btn-warning' do %>
          Ver detalhes
        <% end %>
    </div>
  </div>
  <% end %>
</div>
