<h1 class='text-center m-5'><strong>Resumo:</strong></h1>
<div class="pt-3 pb-3 rounded-2 shadow p-3 bg-white rounded">
  <div class="d-flex align-items-center">

      <%= image_tag "placeholder.jpg", width: 300, height: 300, crop: :fill %>

    <ul>
      <div class="">
        <h2 class=""><strong>- Tickets -</strong></h2>
        <h4><strong>Link: </strong></h4>
        <h4><strong>Origem: </strong></h4>
        <h4><strong>Destino: </strong></h4>
        <h4><strong>Inicio: </strong></h4>
        <h4><strong>Fim: </strong></h4>
        <h4><strong>Company: </strong></h4>
        <h3><strong>Preço: </strong></h3>
      </div>
    </ul>
  </div>
</div>
