<div class="pt-5 pb-5 rounded-2 shadow p-3 mt-3 bg-white rounded w-50">
  <div class="d-flex align-items-center">

      <%= image_tag "placeholder.jpg", width: 300, height: 300, crop: :fill %>

    <ul>
      <div>
        <h2 class="mb-5"><strong><%=  %></strong></h2>
        <h4><strong>Viagem: </strong><%=  %></h4>
        <h4><strong>Destino: </strong><%=  %></h4>
      </div>
    </ul>
  </div>
</div>
      