.ballon {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 10px;
  left: 65%;
  animation: go-back 2s infinite alternate;
  z-index: 999;
}

@keyframes go-back {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
