.button-lg {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  background: var(--ROSE, #DF7861);
  box-shadow: -4px 4px 2px 0px #ECB390;
  color: var(--ICE, #FCF8E8);
  font-family: 'Sniglet', cursive;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: 200px;
  height: 48px;
}
.button-lg-home {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  background: var(--ROSE, #DF7861);
  box-shadow: -4px 4px 2px 0px #ECB390;
  color: var(--ICE, #FCF8E8);
  font-family: 'Sniglet', cursive;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: 200px;
  height: 48px;
  a {
    color: #FCF8E8;
  }
}
button:active {
  background-color: #ECB390;
}
.button-lg-login {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  background: var(--GREEN, #94B49F);
  box-shadow: -4px 4px 2px 0px #ECB390;
  color: var(--ICE, #FCF8E8);
  font-family: 'Sniglet', cursive;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: 200px;
  height: 48px;
}

/*  */
.accommodation-card-button{
  text-decoration: none;
  color: white;
  font-style: bold;
  display: inline-block;
  padding: 8px 12px;
  background-color: #DF7861;
  border-radius: 12px;
}

.return.link {
  text-decoration: none;
  color: white;
  font-style: bold;
  display: inline-block;
  padding: 8px 12px;
  background-color: #DF7861;
  border-radius: 12px;;
}

.position-absolute {
  color: #94B49F black;
  margin: 10px;
}

.header-back-title-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.btn-back-action {
  font-size: 35px;
  color: lightgrey;
}
.btn-plus {
  font-size: 35px;
  color: #94B49F;
}
.trip-edit-delete {
  display: flex;
  justify-content: space-between;
}

.fa-trash-can::before {
  content: "\f2ed";
  margin-left: px;
  position: absolute;
  top: 0px;
  right: 10px;
}
