.footer {
  background-color: #ECB390;
  text-align: center;
  padding: 10px;
  position: fixed; /* Posicionamento fixo no rodapé */
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer .fa-heart {
  color: #D23333;
}
.footer-copyright{
  font-size: 14px;
  color: rgba(0,0,0,0.3);
}
