.session-form {
  border-radius: 4px;

  h2 {
    color: #6B6B6B;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
  }
  input {
    background-color: white;
    border: 1px solid #DF7861;
    border-radius: 4px;
  }

}
