.navbar-lewagon {
  background: #94B49F;
}
.navbar-lewagon .navbar-collapse {
  border: none;
}
.navbar-toggler {
  // margin-left: auto;
  border: none;
}
.navbar-brand {
  margin-right: 0;

  text-align: center;
}
.navbar-container {
  width: 100%;
  margin-left: 35%;
}
