.navbar-lewagon {
  background: #94B49F;
}
.navbar-lewagon .navbar-collapse {
  border: none;
}
.navbar-toggler {
  margin-left: auto;
  border: none;
}
.navbar-brand {
  flex: 1;
  text-align: center;
}
